// Style guide basic colors set
$snow: #ffffff;
$carbon: #1a1a1a;
$fog: #808080;
$black: #000000;
$maim: #605dec;
$violet: #ededfe;
$moon: #e4e4ef;
$iris: #5d5fef;
$rain: #ebf6eb;
$grass: #31aa27;
$cloud: #dcdfe3;
$inactive: #707070;
$devil: #666e7d;
$sangria: #c72549;
$autumn: #fff4e4;
$pigeon: #fff0f0;
$pumpkin: #e99518;
$rose: #f93232;
$alabaster: #f9f9fb;

// Primary colors set
$primary-color: $carbon;

// Secondary colors set
$secondary-color: $fog;
