@use 'mixins' as mixins;
@import 'normalize.css';

$default-font-size: 16px;

:root {
	--app-container-max-width: 1184px;
	--app-container-padding: 24px;
	--app-container-padding--small: calc(var(--app-container-padding) / 2);
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: $default-font-size;

	@media (max-width: 768px) {
		font-size: $default-font-size - 2px;
	}

	@media (max-width: 480px) {
		font-size: $default-font-size - 4px;
	}
}

body {
	font-family: mixins.$default-font-family;
}

#app {
	max-width: calc(var(--app-container-max-width) + var(--app-container-padding) * 2);
	margin: 0 auto;
	padding: 0 var(--app-container-padding);

	display: flex;
	flex-direction: column;

	@media (max-width: 1024px) {
		padding: 0 var(--app-container-padding--small);
	}
}
